doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title} !{'&ndash;'} mts knn .fi
    link(rel="canonical" href=("https://mtsknn.fi" + page.url))
    if metaDescription
      meta(name="description" content=metaDescription)
  body
    != content
