---
layout: null
eleventyExcludeFromCollections: true
dynamicPermalink: false # Don't parse `permalink` using Pug
permalink: sitemap.txt
---
each page in collections.all
  = `${site.url}${page.url}\n`
