---
layout: null
eleventyExcludeFromCollections: true
dynamicPermalink: false # Don't parse `permalink` using Pug
permalink: sitemap.txt
---
//- The order doesn't matter (see https://stackoverflow.com/q/1274974), but the
//- outcome looks better when the lines are sorted
each page in [...collections.all].sort((a, b) => a.url.localeCompare(b.url))
  = `${site.url}${page.url}\n`
