@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply bg-red-200;
  }
  pre code::selection,
  pre code br::selection,
  pre code del::selection,
  pre code ins::selection,
  pre code mark::selection,
  pre code span::selection {
    @apply bg-gray-700;
  }

  *:focus {
    /* `outline: 0;` would make the focus ring invisible in Windows's
     * high-contrast themes. See https://stackoverflow.com/a/52616313 */
    outline: transparent dotted 2px;

    box-decoration-break: clone;
    @apply shadow-outline;
  }
}

@layer components {
  /* The default `text-gray-700` is IMO a bit too light */
  .prose {
    @apply text-gray-800;
  }

  /* The default `content: ""` causes an empty line at the end with `::after`
   * and is just unnecessary with `::before`. */
  .prose pre code::before,
  .prose pre code::after {
    content: none;
  }

  .prose .list-none::before {
    content: none;
  }

  /* Need to use the tag name as well to override the `.prose a` selector */
  a.link {
    @apply duration-150 underline;
    text-decoration-color: theme('colors.red.500');
    text-decoration-thickness: 2px;
    transition-property: color, text-decoration-color;
  }
  h1 .link,
  h2 .link,
  h3 .link {
    text-decoration-thickness: 3px;
  }
  .link:hover {
    @apply text-red-600;
  }
  .link:active {
    @apply text-red-800;
    text-decoration-color: theme('colors.red.600');
  }

  pre code {
    @apply inline-block min-w-full;
  }

  /* Syntax highlighting colors borrowed from https://blog.tailwindcss.com. See:
   * - https://github.com/tailwindlabs/blog.tailwindcss.com/blob/39d37c/next.config.js#L8-L20
   * - https://github.com/tailwindlabs/blog.tailwindcss.com/blob/39d37c/tailwind.config.js#L42-L51
   *
   * (I added the `.token.url` selector to make Markdown snippets look better.)
   */
  .token.tag,
  .token.deleted,
  .token.boolean {
    color: #ff8383; /* red */
  }
  .token.attr-name {
    color: #ffe484; /* yellow */
  }
  .token.attr-value,
  .token.inserted,
  .token.string,
  .token.url {
    color: #b5f4a5; /* green */
  }
  .token.punctuation {
    @apply text-white;
  }
  .token.keyword {
    color: #d9a9ff; /* purple */
  }
  .token.string {
    color: #b5f4a5; /* green */
  }
  .token.function {
    color: #93ddfd; /* blue */
  }
  .token.comment {
    @apply italic;
    color: #9fa6b2; /* gray */
  }

  .highlight-line-active,
  .highlight-line-add,
  .highlight-line-remove {
    @apply inline-block -mx-4 no-underline px-4;
    color: inherit;
    min-width: calc(100% + 2rem);
  }
  .highlight-line-active {
    @apply bg-gray-700;
  }
  .highlight-line-add {
    @apply bg-green-900;
  }
  .highlight-line-remove {
    @apply bg-red-900;
  }
}

