@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply bg-red-200;
  }
  pre code::selection,
  pre code br::selection,
  pre code del::selection,
  pre code ins::selection,
  pre code mark::selection,
  pre code span::selection {
    @apply bg-gray-700;
  }

  *:focus {
    /* `outline: 0;` would make the focus ring invisible in Windows's
     * high-contrast themes. See https://stackoverflow.com/a/52616313 */
    outline: transparent dotted 2px;

    @apply shadow-outline;
    box-decoration-break: clone;
  }

  h2,
  h3,
  h4 {
    /* Needed for the styling of anchor links (permalinks) inside headings */
    @apply relative;
  }

  kbd {
    @apply bg-gray-100 border border-b-2 border-gray-400 mx-px px-1 py-px rounded;
    box-shadow: inset 0 2px 0 0 #fff;
  }
}

@layer components {
  @screen xl {
    .main-skip-link {
      margin-left: -100% !important;
    }
  }

  .logo-character,
  .logo-domain-extension {
    @apply inline-block whitespace-no-wrap;

    animation-delay: 2s;
    animation-fill-mode: forwards;

    /* From Chrome DevTools: "In Out · Cubic" */
    animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  @media (prefers-reduced-motion: reduce) {
    .logo-character,
    .logo-domain-extension {
      animation-delay: 0s !important;
      animation-duration: 0s !important;
    }
  }

  .logo-character {
    animation-duration: 1s;
    animation-name: hide-logo-character;
    max-width: 1ch;
  }
  .logo-character--length-2 {
    max-width: 2ch;
  }
  .logo-character--length-4 {
    max-width: 4ch;
  }

  .logo-domain-extension {
    @apply opacity-0;
    animation-duration: 1.25s;
    animation-name: reveal-logo-domain-extension;
    max-width: 0;
  }

  @keyframes hide-logo-character {
    to {
      @apply opacity-0;
      max-width: 0;
    }
  }

  @keyframes reveal-logo-domain-extension {
    40% {
      @apply opacity-0;
    }

    /* This step is needed or the focus outline will look weird :D */
    80% {
      max-width: 3ch;
    }

    to {
      @apply opacity-50;

      /* And this needs to be repeated here or the final `max-width` will be 0 */
      max-width: 3ch;
    }
  }

  .prose > * {
    max-width: 65ch;
  }
  .prose > pre {
    @apply max-w-none;
  }

  .prose h1 code {
    @apply leading-tight;
  }

  .prose .list-none::before {
    content: none;
  }

  .prose .link-external code,
  .prose li code {
    @apply inline;

    /* Not nice. :-(
     * But needed
     * because otherwise the external link icon could wrap to the next line,
     * and because of
     * the `.prose > ul > li > *:first-child`
     * and `.prose > ul > li > *:last-child` styles.
     * TODO: Maybe clean up */
    padding-bottom: 0.22rem;
    padding-top: 0.22rem;
  }

  /* Need to use the tag name as well to override the `.prose a` selector */
  a.link {
    @apply duration-150 underline;
    text-decoration-color: theme('colors.red.500');
    text-decoration-thickness: 2px;
    transition-property: color, text-decoration-color;
  }
  a.link:hover {
    @apply text-red-600;
  }
  a.link:active {
    text-decoration-color: theme('colors.red.600');
  }
  h1 .link,
  h2 .link,
  h3 .link {
    text-decoration-thickness: 3px;
  }
  .link code {
    color: inherit;
    text-decoration: inherit;
    text-decoration-color: inherit; /* For iOS Safari */
    transition: inherit;
  }

  /* O'boy how difficult it was to find a solid technique for adding an external
   * link icon with these criteria:
   * - Doesn't wrap to the next line
   * - Doesn't make trailing punctuation wrap to the next line (e.g. a period
   *   right after the link text)
   * - Doesn't require modifying the HTML (i.e. I wanted a CSS-only solution)
   *
   * Luckily I found this underappreciated SO answer with a simple solution:
   * https://stackoverflow.com/a/38418279
   */
  .link.link-external::after {
    @apply bg-center bg-no-repeat;
    @apply ml-1; /* Spacing */
    @apply px-2; /* Sizing */

    /* `external-link` icon by Heroicons (https://heroicons.com/), MIT Licensed.
     * `%2364748b` = `#64748b` = `text-gray-500` */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%2364748b"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"/><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"/></svg>');

    /* `alt` and the second value of `content` are for screen readers. See e.g.
     * https://www.stefanjudis.com/today-i-learned/css-content-accepts-alternative-text/ */
    alt: '(external link)'; /* Supported by Safari */
    content: ''; /* Fallback */
    content: '' / '(external link)'; /* Supported by most but not FF or Safari */
  }

  h2 .link-anchor,
  h3 .link-anchor {
    @apply ml-3 text-gray-400;
  }
  .link-anchor svg {
    @apply inline;
    vertical-align: calc(-1 * theme('spacing.1'));
  }
  h2 .link-anchor svg {
    width: theme('spacing.6') !important;
  }
  h3 .link-anchor svg {
    width: theme('spacing.5') !important;
  }
  @screen lg {
    h2 .link-anchor,
    h3 .link-anchor {
      @apply absolute top-0;
      left: calc(-1 * theme('spacing.2'));
    }
    h2 .link-anchor {
      @apply -ml-6;
    }
    h3 .link-anchor {
      @apply -ml-5;
    }
  }
  @screen xl {
    h2 .link-anchor,
    h3 .link-anchor {
      left: calc(-1 * theme('spacing.3'));
    }
    h2 .link-anchor {
      @apply -ml-8;
    }
    h3 .link-anchor {
      @apply -ml-6;
    }
    h2 .link-anchor svg {
      width: theme('spacing.8') !important;
    }
    h3 .link-anchor svg {
      width: theme('spacing.6') !important;
    }
  }

  .link.link-tag::before {
    @apply bg-bottom bg-no-repeat h-4 inline-block mr-1 w-4;
    content: '';
    vertical-align: -0.2rem;

    /* `hashtag` icon by Heroicons (https://heroicons.com/), MIT Licensed.
     * `%2364748b` = `#64748b` = `text-gray-500` */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%2364748b"><path fill-rule="evenodd" d="M9.243 3.03a1 1 0 01.727 1.213L9.53 6h2.94l.56-2.243a1 1 0 111.94.486L14.53 6H17a1 1 0 110 2h-2.97l-1 4H15a1 1 0 110 2h-2.47l-.56 2.242a1 1 0 11-1.94-.485L10.47 14H7.53l-.56 2.242a1 1 0 11-1.94-.485L5.47 14H3a1 1 0 110-2h2.97l1-4H5a1 1 0 110-2h2.47l.56-2.243a1 1 0 011.213-.727zM9.03 8l-1 4h2.938l1-4H9.031z" clip-rule="evenodd"/></svg>');
  }
  @screen xl {
    .link.link-tag::before {
      vertical-align: -0.15rem;
    }
  }

  pre {
    @apply -mx-6 sm:mx-0 sm:rounded-md;
  }
  pre code {
    @apply inline-block min-w-full;
  }

  /* Syntax highlighting colors borrowed from https://blog.tailwindcss.com. See:
   * - https://github.com/tailwindlabs/blog.tailwindcss.com/blob/39d37c/next.config.js#L8-L20
   * - https://github.com/tailwindlabs/blog.tailwindcss.com/blob/39d37c/tailwind.config.js#L42-L51
   */
  .token.boolean,
  .token.deleted,
  .token.tag {
    color: #ff8383; /* red */
  }
  .token.attr-name,
  .token.selector {
    color: #ffe484; /* yellow */
  }
  .token.attr-value,
  .token.inserted,
  .token.string,
  .token.url {
    color: #b5f4a5; /* green */
  }
  .token.punctuation {
    @apply text-white;
  }
  .token.keyword,
  .token.property {
    color: #d9a9ff; /* purple */
  }
  .token.function {
    color: #93ddfd; /* blue */
  }
  .token.comment {
    @apply italic;
    color: #9fa6b2; /* gray */
  }

  .highlight-line {
    @apply inline-block min-w-full px-4 xl:px-5;

    /* `<del>`, `<ins>`, `<mark>` default styles */
    @apply no-underline;
    color: inherit;
  }
  .highlight-line:empty::before {
    /* Enable highlighting empty lines */
    content: ' ';
  }
  .highlight-line-active {
    @apply bg-gray-700;
  }
  .highlight-line-add {
    @apply bg-green-900;
  }
  .highlight-line-remove {
    @apply bg-red-900;
  }
}
