@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }

  ::selection {
    @apply bg-red-200;
  }
  pre code::selection,
  pre code br::selection,
  pre code del::selection,
  pre code ins::selection,
  pre code mark::selection,
  pre code span::selection {
    @apply bg-gray-700;
  }

  *:focus {
    /* `outline: 0;` would make the focus ring invisible in Windows's
     * high-contrast themes. See https://stackoverflow.com/a/52616313 */
    outline: transparent dotted 2px;

    box-decoration-break: clone;
    @apply shadow-outline;
  }

  h2,
  h3,
  h4 {
    /* Needed for the styling of permalink links inside headings */
    @apply relative;
  }
}

@layer components {
  .prose .list-none::before {
    content: none;
  }

  /* Need to use the tag name as well to override the `.prose a` selector */
  a.link {
    @apply duration-150 underline;
    text-decoration-color: theme('colors.red.500');
    text-decoration-thickness: 2px;
    transition-property: color, text-decoration-color;
  }
  h1 .link,
  h2 .link,
  h3 .link {
    text-decoration-thickness: 3px;
  }
  a.link:hover {
    @apply text-red-600;
  }
  a.link:active {
    @apply text-red-800;
    text-decoration-color: theme('colors.red.600');
  }

  /* O'boy how difficult it was to find a solid technique for adding an external
   * link icon with these criteria:
   * - Doesn't wrap to the next line
   * - Doesn't make trailing punctuation wrap to the next line (e.g. a period
   *   right after the link text)
   * - Doesn't require modifying the HTML (i.e. I wanted a CSS-only solution)
   *
   * Luckily I found this underappreciated SO answer with a simple solution:
   * https://stackoverflow.com/a/38418279
   */
  .link.link-external::after {
    @apply bg-center bg-no-repeat;
    @apply ml-1; /* Spacing */
    @apply px-2; /* Sizing */

    /* `external-link` icon by Heroicons (https://heroicons.com/), MIT Licensed.
     * `%23718096` = `#718096` = `text-gray-600` */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%23718096"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"/><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"/></svg>');

    /* `alt` and the second value of `content` are for screen readers. See e.g.
     * https://www.stefanjudis.com/today-i-learned/css-content-accepts-alternative-text/ */
    alt: '(external link)'; /* Supported by Safari */
    content: ''; /* Fallback */
    content: '' / '(external link)'; /* Supported by most but not FF or Safari */
  }

  /* Need to use two classes here to override the `.prose a` selector */
  .link.link-permalink {
    @apply ml-3 text-gray-500;
  }
  @screen lg {
    .link.link-permalink {
      @apply absolute left-0 -ml-6 top-0;
    }
    h3 .link.link-permalink {
      @apply -ml-5;
    }
    h4 .link.link-permalink {
      @apply -ml-4;
    }
  }
  @screen xl {
    .link.link-permalink {
      @apply -ml-8;
    }
    h3 .link.link-permalink {
      @apply -ml-6;
    }
    h4 .link.link-permalink {
      @apply -ml-5;
    }
  }

  /* Syntax highlighting colors borrowed from https://blog.tailwindcss.com. See:
   * - https://github.com/tailwindlabs/blog.tailwindcss.com/blob/39d37c/next.config.js#L8-L20
   * - https://github.com/tailwindlabs/blog.tailwindcss.com/blob/39d37c/tailwind.config.js#L42-L51
   *
   * (I added the `.token.url` selector to make Markdown snippets look better.)
   */
  .token.tag,
  .token.deleted,
  .token.boolean {
    color: #ff8383; /* red */
  }
  .token.attr-name {
    color: #ffe484; /* yellow */
  }
  .token.attr-value,
  .token.inserted,
  .token.string,
  .token.url {
    color: #b5f4a5; /* green */
  }
  .token.punctuation {
    @apply text-white;
  }
  .token.keyword {
    color: #d9a9ff; /* purple */
  }
  .token.string {
    color: #b5f4a5; /* green */
  }
  .token.function {
    color: #93ddfd; /* blue */
  }
  .token.comment {
    @apply italic;
    color: #9fa6b2; /* gray */
  }

  .prose pre {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .highlight-line {
    @apply inline-block min-w-full px-4;
  }
  @screen xl {
    .highlight-line {
      @apply px-5;
    }
  }
  .highlight-line::after {
    /* Without this, empty highlighted lines wouldn't be highlighted */
    content: '';
  }
  .highlight-line-active,
  .highlight-line-add,
  .highlight-line-remove {
    @apply no-underline;
    color: inherit;
  }
  .highlight-line-active {
    @apply bg-gray-700;
  }
  .highlight-line-add {
    @apply bg-green-900;
  }
  .highlight-line-remove {
    @apply bg-red-900;
  }
}
