mixin postMeta(date, tags = [])
  .text-gray-600
    span.sr-only Published on#{' '}
    time.tracking-wider.uppercase(datetime=datetime.robot(date))
      = datetime.human(date)

    if tags.length
      span.ml-4(aria-hidden="true") &ndash;
      span.sr-only &ndash; Tags:
      ul.inline
        each tag in tags
          li.inline-block.list-none.ml-4.whitespace-no-wrap(class="!my-1 !pl-0")
            a.link.link-tag.py-1(href=`/blog/tags/${slugify(tag)}/`)= tag
