extends ./layout

block content
  +breadcrumb

  article.prose(class="xl:prose-lg")
    h1(class="!mb-6")= title
    .mb-6
      +postMeta(page.date, tags)
    p.lead!= md.renderInline(intro)
    hr(aria-hidden="true" class="!mb-0")

    //- Anchor for home page's "Continue reading" links
    #continue-reading.mb-12

    +toc(content)
    != content
