extends ./layout

block content
  article.prose(class="xl:prose-lg")
    h1(class="!mb-6")= title
    .mb-6
      +postMeta(page.date, tags)
    .lead!= md.render(intro)
    hr(aria-hidden="true" class="!mb-0")

    //- Anchor for home page's "Continue reading" links
    #continue-reading.mb-12

    if toc
      +toc(content)

    != content
