---
eleventyExcludeFromCollections: true
dynamicPermalink: false # Don't parse `permalink` using Pug
permalink: robots.txt
---

//- Can't use Markdown as it would create HTML tags.
//- Don't want to use HTML as Prettier would mess the formatting.
//- Pug is good.

.
  User-agent: *
  Allow: /

  Sitemap: https://mtsknn.fi/sitemap.txt
